$header-height: 80px; //change this value with $header-height in _App.scss!
$grid-row-gap: 20px;
$shop-background-color: #ffffff;

@mixin gridItemsCenter {
    display: grid;
    justify-items: center;
    align-items: center;
}

@mixin flexDisplay($direction: row) {
    display: flex;
    flex-direction: $direction;

    @content
}

#Shop {
    background-color: $shop-background-color;
    @include flexDisplay();
}

.sidebar-wrapper {
    @include flexDisplay(row);
    height: calc(100vh - 80px); //minus header height

    .menu-panel {
        display: none;
    }
}

.sidebar {
    @include flexDisplay(column) {
        align-items: center;
        gap: 20px;
    }

    ;
    padding: 15px;
    flex-shrink: 0;
    width: 300px;
    background-color: #a8a29e;
    border-right: 5px solid #474747;

    .link-wrapper {
        width: 100%;
        height: 40px;
        font-size: 1.7em;
        position: relative;

        .sidebar-link {
            text-decoration: none;
            color: black;

            //wrapper <span> around Link texts
            span {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .sidebar-link-horizontal-line {
            height: 13px;
            width: 0%;
            background-color: rgba(47, 35, 28, 0.4);
            position: absolute;
            bottom: 10px;
            transition: width 400ms ease-in-out;

            //this prevents the blocking of the links to be clicked
            pointer-events: none;
        }

        .active-sidebar-horizontal-line {
            width: 100%;
        }

        //when .link-wrapper is hovered
        &:hover .sidebar-link-horizontal-line {
            width: 100%;
        }

    }
}

.shop-content {
    @include flexDisplay(column) {
        gap: 10px;
    }

    ;
    width: 100%;

    height: calc(100vh - $header-height);
    overflow-y: auto;

    .shop-page-title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2em;
        margin: 10px 0;
        text-align: center;
    }

    .search-form {
        @include flexDisplay(column) {
            // gap: 10px;
        }

        ;
        align-self: center;
        width: max(280px, 60%);

        & input[type='search'] {
            height: 45px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 0.5rem 0.8rem;
            padding-left: 40px;
            background-size: 1.2rem;
            border: none;
            text-align: center;
            background-color: transparent;
            background-color: rgba(100, 98, 98, 0.2);
            outline: none;
            font-size: 2em;
        }

        .horizontal-line {
            background-color: black;
            width: 100%;
            height: 5px;
            transition: transform 400ms ease-in-out;
            transform: scaleX(0);
        }

        &:focus-within .horizontal-line {
            transform: scaleX(1);
        }

        &:hover .horizontal-line {
            transform: scaleX(1);
        }

    }

    //search form

    .shop-items-wrapper {
        @include gridItemsCenter();
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
        grid-template-rows: auto;
        row-gap: $grid-row-gap;
        //.ShopItem is in _ShopItem.scss 
    }
}

@media only screen and (max-width: 650px) {
    div.menu-panel {
        @include flexDisplay(column) {
            align-items: center;
            justify-content: center;
        }

        ;
        z-index: 1;
        right: 0px;
        width: 25px;
        height:100px;
        background-color: #5c5c5c;
        padding: 3px; //needed to ensure text-wrapping


        .show-menu-wrapper {
            @include flexDisplay(column) {
                gap: 20px;
            }

            ;
            width: 100%;

            p {
                overflow-wrap: break-word;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 1.2em;
                font-weight: bolder;
                color: white;
                text-align: center;
            }
        }

    }

    .sidebar-wrapper {
        @include flexDisplay(row) {}

        position: absolute;

        .menu-panel {
            display: block;
        }

        .sidebar {
            width: 0px;
            z-index: 1;
            height: 100%;
            overflow: hidden;
            padding: 0px;
            border-width: 0px;
            transition: all 400ms ease-in-out;
            font-size: 0.85em;

            .link-wrapper {
                white-space: nowrap; //disable text-wrap
            }
        }

        .show-sidebar {
            width: 200px;
            padding: 15px;
            border-width: 5px;
        }
    }
}

.hiking-ink-art-image {
    width: 100%;
    position: relative;
}