@import '../Shop/_Shop';

@mixin flexDisplay($direction: row, $center-contents: false) {
    display: flex;
    flex-direction: $direction;

    @if($center-contents) {
        justify-content: center;
        align-items: center;
    }

    @content;
}

#Favourites {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.go-back-btn-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    font-size: 0.8em;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background-color 400ms ease-in-out;
    border: 2px solid black;
    height: 30px;

    &:hover {
        background-color: #d6d6d6;
    }

    @include flexDisplay(row, true) {
        gap: 10px;
    }

    ;

    img {
        width: 15px;
    }
}

.favourites-title {
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
    text-decoration: underline;
}

.favourites-title-caption {
    user-select: none;
    text-align: center;
    font-size: 1.5em;
    opacity: 0.6;
}

.favourites-wrapper {
    height: 100%;
    //for grid layout
    @include gridItemsCenter(); //from _Shop.scss
    // align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    grid-template-rows: auto;
    row-gap: $grid-row-gap;
    overflow-y: auto;
}


.no-favourites-wrapper {
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    background-color: #e3e3e3;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
    transition: background-color 400ms ease-in-out,
        transform 200ms ease-in-out;

    .no-favourites-title {
        font-size: 1.6em;
        user-select: none;
    }

    &:hover {
        background-color: #d2d2d2;
    }

    &:active {
        background-color: #e3e3e3;
        transform: translate(2px, 2px);
    }
}

@media screen and (max-width:450px) {
    .back-to-shop-title {
        display: none;
    }
}