@mixin flexDisplay($direction: row, $center-contents: false) {
    display: flex;
    flex-direction: $direction;

    @if($center-contents) {
        justify-content: center;
        align-items: center;
    }

    @content
}


#Contact {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.contact-content {
    background-color: rgba(187, 13, 13, 0.175);
    border-radius: 15px;
    margin: 50px 0px 100px 0px;
    height: 100%;
    width: clamp(300px, 65%, 1300px);
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.google-maps {
    padding: 30px;
}


.linkedIn-info-image.info-image {
    position: relative;

}

.linkedIn-info-wrapper {}


.location-info-wrapper {
    border: 2px solid blue;

}



.email-info-wrapper {
    border: 2px solid blue;
    width: 100%;
}



//general selectors
.info-wrapper {
    @include flexDisplay(row, true) {
        gap: 10px;
    }

    ;
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 100%;
}

.info-image {
    width: 250px;
}

.info-paragraph {
    position: relative;
    // bottom: 10px;


    border: 2px solid red;
    display: inline;
    margin: 0;
}

img.icon {
    border: 2px solid red;
    width: 30px;

}