@mixin flexDisplay($direction: row, $center-contents: false) {
    display: flex;
    flex-direction: $direction;

    @if($center-contents) {
        justify-content: center;
        align-items: center;
    }

    @content
}


#Contact {
    background-color: white;
    width: 100%;
    overflow-y: auto;

    @include flexDisplay(row) {
        justify-content: center;
        align-items: center;
    }

    ;
}

.contact-content {
    background-color: rgba(187, 13, 13, 0.175);
    border-radius: 15px;
    margin: 50px 0px 100px 0px;
    width: 65%;
    min-height: 90%;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.linkedIn-section-wrapper {

    // border: 2px solid red;
    @include flexDisplay(row, false) {
        align-items: center
    }

    ;

    .linkedIn-info-image.info-image {
        position: relative;

    }

    .linkedIn-info-wrapper {
        position: absolute;
        left: 0px;
        width: 400px;
    }
}

.location-section-wrapper {
    @include flexDisplay(row, true);
    // border: 2px solid red;

    .location-info-wrapper {
        border: 2px solid blue;

    }

}

.email-section-wrapper {
    @include flexDisplay(row, true);
    // border: 2px solid red;

    .email-info-wrapper {
        border: 2px solid blue;
        width: 100%;
    }
}





//general selectors
.info-wrapper {
    @include flexDisplay(row, true) {
        gap: 10px;
    }

    ;
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 100%;
}

.info-image {
    width: 250px;
}

.info-paragraph {
    position: relative;
    // bottom: 10px;


    border: 2px solid red;
    display: inline;
    margin: 0;
}

img.icon {
    border: 2px solid red;
    width: 30px;

}