//MAIN-PAGE
$shop-title-font-size: 3em;

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    @content
}

;

@mixin size-type-of-background($size-type, $image-url) {
    background-image: url($image-url);
    background-repeat: no-repeat;
    background-size: $size-type;
    background-position: center center;
    @content;
}

;

@mixin liquid-effect() {
    background: linear-gradient(45deg, #00ffb6 0%, #000fa3);
    width: 400px;
    height: 400px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: liquid 8s ease-in-out infinite;

    @content;

    @keyframes liquid {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background-size: 100% 100%;
            box-shadow: 0 0 20px #68cec9;
        }

        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            background-size: 300% 150%;
            box-shadow: 0 0 20px #32acdd;
        }

        70% {
            box-shadow: 0 0 20px #2667b0;
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background-size: 100% 100%;
            box-shadow: 0 0 20px #68cec9;
        }
    }

}

#MainPage {
    @include flexCenter(row) {
        gap: 50px;
    }

    ;

    width: 100%;
    height: 100%;

    p.shop-title {
        margin: auto;
        font-size: $shop-title-font-size;
        color: wheat;
        user-select: none;
    }

    p.shop-description {
        color: white;
        user-select: none;
    }

    .vertical-line-and-shop-image-wrapper {
        position: relative;
        @include flexCenter(row);

        //hover: VERTICAL LINE
        &:hover .vertical-line {
            width: 300px;
            background-color: rgba(178, 175, 175, 0.5);
            transition: width 400ms ease-in-out,
                background-color 400ms ease-in-out;
        }

        &:not(:hover) .vertical-line {
            width: 10px;
            background-color: white;
            transition: width 400ms ease-in-out 400ms,
                background-color 400ms ease-in-out 800ms;
        }

        //hover: HIDDEN-CONTENTS
        &:hover .vertical-line .hidden-contents {
            transition: opacity 400ms ease-in-out 400ms;
            opacity: 1;
        }

        &:not(:hover) .vertical-line .hidden-contents {
            transition: opacity 400ms ease-in-out;
            opacity: 0; 
        }

        //hover: SHOP-IMAGE
        &:hover .shop-image {
            transition: opacity 400ms ease-in-out;
            opacity: 0;
        }

        &:not(:hover) .shop-image {
            transition: opacity 400ms ease-in-out 1050ms;
            opacity: 1;
        }

        .vertical-line {
            position: absolute;
            left: -30px;
            height: 300px;
            overflow: hidden;

            .hidden-contents {
                width: 100%;
                height: 100%;
                opacity: 0;
                padding: 15px;

                .carousel-image {
                    height: 200px;
                    width: 100%;
                    transition: all 400ms ease-in-out;
                    box-shadow: 1px 2px 5px black;

                }

                .index-bullets-wrapper {

                    @include flexCenter(row) {
                        gap: 30px;
                    }

                    ;

                    $bullet-dimension : 8px;

                    .index-bullet {
                        background-color: #b9b9b9;
                        height: $bullet-dimension;
                        width: $bullet-dimension;
                        border-radius: 100%;
                    }

                    .active-bullet {
                        background-color: #424242;
                    }
                }

                .index-buttons-wrapper {
                    @include flexCenter(row) {
                        justify-content: space-evenly
                    }

                    ;
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    height: 27%;

                    //previous and next btns
                    button {
                        z-index: 1; //bring it to the front, because it had some overlapping with shop-image
                        font-size: 0.95em;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        width: 100px;
                        height: 35px;
                        background-color: white;
                        color: black;
                        transition: background-color 400ms ease-in-out;
                        border: 2px solid black;

                        &:hover {
                            background-color: black;
                            color: white;
                            border-color: white;
                        }


                    }

                }

            }
        }

        .shop-image {
            @include liquid-effect();
            width: 250px;
            height: 250px;
        }
    }


    .shop-image:hover .shop-introduction-container+.vertical-line {
        width: 400px;
    }

}