@import '../Shop/_Shop';

@mixin flexDisplay($direction: row, $center-contents: false) {
    display: flex;
    flex-direction: $direction;

    @if($center-contents) {
        justify-content: center;
        align-items: center;
    }

    @content;
}

#Features {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.feature-items-wrapper {
    height: 100%;
    //for grid layout
    @include gridItemsCenter(); //from _Shop.scss
    // align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    grid-template-rows: auto;
    row-gap: $grid-row-gap;
    overflow-y: auto;
}

.feature-title {
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
    text-decoration: underline;
}

.feature-title-caption {
    user-select: none;
    text-align: center;
    font-size: 1.5em;
    opacity: 0.6;
}