$card-background: #b1aaaa;

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

.ShopItem {
    max-width: 300px;
    background-color: transparent;
    border-radius: 15px;
    border: 3px solid gray;
    background-color: #d1d8de;
    padding: 15px;
    margin: 0px;

    @include flexCenter(column);

    .ShopItem-image {
        border-radius: 10px;
        height: 200px;
        width: 250px;
        border: 2px solid black;
    }

    .ShopItem-name {
        text-align: center;
        font-size: 1.3em;
    }
}

.favourite-star {
    border: 2px solid red;
    user-select: none;
    width: 30px;

}