@import './_reset.scss',
'./Components/ShopItem/_ShopItem.scss',
'./Routes/About/_About.scss',
'./Routes/Contact/_Contact',
'./Routes/Error/_Error.scss',
'./Routes/Shop/_Shop.scss',
'./Routes/Favourites/_Favourites.scss',
'./Routes/Cart/_Cart.scss',
'./Components/Checkout/_Checkout.scss',
'./Components/MainPage/MainPage';


$text-color: #ffffff;
$text-color-hover: #5694c6;
$body-color: #d0c9b7;

//OPACITY FILM
$opacity-film-background: rgba(48, 48, 48, 0.451);

//HEADER
$header-height: 80px;
$header-background: #1e1e20;

//@functions, @mixins, @content, @extend (inheritance)
//nesting, @import (name your partials starting with '_')
@mixin center-background {
    //make sure parent container has position relative/static before using
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    @content;
}

@mixin link-to-cart-style {
    border: none;
    border-radius: 100%;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #efecec;
    line-height: 1.5;
    margin: 0;
}

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    @content
}

html,
body {
    margin: 0px;
    height: 100%;
    min-width: 380px;
}


body {
    background-color: $body-color;
    display: flex;
    flex-direction: column;

}

#App {
    min-height: 100vh;
    position: relative;

    .opacity-film-wrapper {
        background-color: $opacity-film-background;
    }

    background-image: url('./assets/images/main-background.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6);

}

.header {
    @include flexCenter(row) {
        //overwrites justify-content:center
        justify-content: space-between;
    }

    height: $header-height;
    padding: 0 20px;
    background-color: $header-background;
    color: white;

    .shop-name {
        font-weight: bolder;
        font-size: 1.2em;
        font-family: 'Times New Roman', Times, serif;
    }

    .nagivation-tabs-wrapper {

        @include flexCenter(row) {
            gap: 30px;
        }

        .navigation-tab {
            text-decoration: none;
            color: $text-color;
            font-weight: bolder;
            transition: color 200ms ease-in-out;

            &:hover {
                color: $text-color-hover;
            }
        }

        //for when tab is active
        .active-tab-color {
            color: $text-color-hover;
        }
    }
}

.main-page {
    @include flexCenter(row) {
        gap: 20px;
    }

    ;
    width: 100%;
    height: 100%;

    .vertical-line {
        background-color: white;
        width: 10px;
        height: 300px;
    }

    p.shop-title {
        margin: auto;
        font-size: $shop-title-font-size;
        color: wheat;
    }

    p.shop-description {
        color: white;
    }

    .image-container {
        border-radius: 100%;
        width: 200px;
        height: 200px;
        @include size-type-of-background(cover, './assets/images/placeholderImage.jpg');
    }
}

.main-content-wrapper {
    display: flex;
    height: calc(100vh - $header-height);

    .link-to-cart {
        position: absolute !important;
        z-index: 1;
        right: 30px;
        bottom: 10px;
        height: 80px;
        width: 80px;
        background-image: url('./assets/images/shopping-cart.png');
        background-size: 50px;
        @include link-to-cart-style();
        @include center-background();

        transition:
            transform 300ms ease-in-out,
            box-shadow 300ms ease-in-out,
            background-color 300ms ease-in-out;

        &:hover {
            transform: translateY(-10px);
            background-color: #e1e0e0;
        }
    }

    .outlet-wrapper {
        flex-grow: 1;
        overflow-y: auto;
    }

}

