@import './_reset.scss',
'./Routes/ShopItem/_ShopItem.scss',
'./Routes/About/_About.scss',
'./Routes/Contact/_Contact',
'./Routes/Error/_Error.scss',
'./Routes/Shop/_Shop.scss';

$text-color: #313131;
$text-color-hover: #5694c6;
$body-color: #d0c9b7;
//@functions, @mixins, @content, @extend (inheritance)
//nesting, @import (name your partials starting with '_')

html,
body {
    margin: 0px;


}


body {
    background-color: $body-color;
    display: flex;
    flex-direction: column;
}

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    @content
}

#Root {
    background-color: cadetblue;
    min-height: 100vh;
}

.header {
    @include flexCenter(row) {
        //overwrites justify-content:center
        justify-content: space-between
    }

    border: 2px solid red;
    padding: 0 20px;

    .nagivation-tabs-wrapper {
        @include flexCenter(row) {
            gap: 30px;
        }

        .navigation-tab {
            text-decoration: none;
            color: $text-color;

            &:hover {
                color: $text-color-hover;
            }
        }
    }
}


.main-content-wrapper {
    display: flex;
    min-height: 100vh;

    .sidebar {
        flex-shrink: 0;
        width: 300px;
        min-height: 100%;
        background-color: beige;
    }

    .outlet-wrapper {
        flex-grow: 1;
        width: 100%;
        border: 2px solid red;
    }

}