#ThankYou {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.thank-you-content {
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.shop-more-button {
    width: 200px;
    margin: 20px 0;
    height: 50px;
    font-size: 1.3em;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    border: 2px solid black;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
    transition: background-color 400ms ease-in-out,
        transform 200ms ease-in-out;


    &:hover {
        background-color: #d2d2d2;
    }

    &:active {
        background-color: #e3e3e3;
        transform: translate(2px, 2px);
    }
}